<form action="/createt" method="post">

	<div class = "input_area">
		Author: <input type="text" name="author" />
	</div>

	<div class = "input_area">
		title: <input type="text" name="title" />
	</div>

	<div class = "text_area">
		text: <textarea name="body" cols="60" rows="10"></textarea>
	</div>

	<button type="submit">Create Reddit</button>
	
</form>