<form action="/createu" method="post">

	<div class = "input_area">
		Author: <input type="text" name="author" />
	</div>

	<div class = "input_area">
		title: <input type="text" name="title" />
	</div>
	
	<div class = "input_area">
		url: <input type="url" name="url"/>
	</div>

	<button type="submit">Create Reddit</button>
	
</form>